body {
  background-color: rgb(233, 247, 143);
}

h1,h2,h3,p {
  text-align: center;
}
table, th, td{ 
  border: 1px solid #111;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 8px;
}

.form{
  width: 40%;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  background-color: rgb(177, 166, 74);
  padding: 20px;
}

input, textarea  {
  width: 100%;
  padding: 12px 18px;
  margin: 6px 0;
  display: inline-block;
  box-sizing: border-box;
}

.link{
  text-decoration: none;
  margin-left: 180px;
  background-color: cadetblue;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}

.button{
  text-decoration: none;
  background-color: cadetblue;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}